.topnav {
    background-color: map-get($theme-colors, 'secondary');
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 6px 2px rgba(map-get($theme-colors, 'secondary'), .4);
    color: map-get($theme-colors, 'secondary');
    position: absolute;
    transition: box-shadow 210ms ease-in, transform 210ms ease-out;
    right: 0;
    top: 0;
    z-index: 10;

    &:hover {
        box-shadow: 0 2px 6px 4px rgba(map-get($theme-colors, 'secondary'), .3);
        transform: scale(1.03);
    }

    .topnav-link {
        color: map-get($theme-colors, 'tertiary');
        display: inline-block;
        padding: 5px 12px;
        position: relative;

        &:hover {
            color: lighten(map-get($theme-colors, 'primary'), 25%);
        }

        &:after {
            background-color: map-get($theme-colors, 'primary');
            content: '';
            height: calc(100% - 10px);
            position: absolute;
            right: -4px;
            transform: translateY(-50%);
            top: 50%;
            width: 2px;
        }

        &:last-child {
            &:after {
                content: none;
            }
        }
    }
}
