.topnav {
    background-color: map-get($theme-colors, 'secondary');
    border-radius: 0 0 5px 5px;
    color: map-get($theme-colors, 'secondary');
    position: absolute;
    right: 0;
    top: 0;

    .topnav-link {
        color: map-get($theme-colors, 'tertiary');
        display: inline-block;
        padding: 4px 5px;
        position: relative;

        &:hover {
            color: lighten(map-get($theme-colors, 'primary'), 25%);
        }

        &:after{
            background-color: map-get($theme-colors, 'primary');
            content: '';
            height: calc(100% - 10px);
            position: absolute;
            right: -4px;
            transform: translateY(-50%);
            top: 50%;
            width: 2px;
        }

        &:first-child {
            padding-left: 12px;
        }

        &:last-child {
            padding-right: 12px;

            &:after {
                content: none;
            }
        }
    }
}
