// Bootstrap variables.
$body-bg: #F1F2F6;
$theme-colors: (
  "primary": #27187E,
  "secondary": #FF8600,
);
$link-color: map-get($theme-colors, 'primary');
$link-hover-color: lighten($link-color, 30%);
$link-hover-decoration: none;
